div {
  img {
    &.show {
     animation: up 1s ease;
    }
  }
 }

 @keyframes up {
   from {
     opacity: 0;
     transform: translate(0px, 20px);
   }

   to {
     opacity: 1;
   }
 }
/* 公共样式 */
* {
  padding: 0;
  margin: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pd {
  padding: 20px;
}

.mg {
  margin: 20px;
}

.inline {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-flow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/* 兼容ie11 */
@media screen and(-ms-high-contrast:active),
(-ms-high-contrast:none) {
  .text-flow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    max-width: 180px;
    display: inherit;

  }
}

/* 框架 */
.el-radio__inner::after {
  width: 6px;
  height: 6px;
}

.el-button {
  border-radius: 2px;
}

.el-input__inner {
  border-radius: 2px;
}

.el-table th{
  background: #f2f6fc;
  color: #606266;
}
